In [6]:
import zipfile

path = "../data/nhs_waiting_times.csv"

print("Is this a zip file?", zipfile.is_zipfile(path))

Is this a zip file? True

In [7]:
import zipfile
import pandas as pd

path = "../data/nhs_waiting_times.csv"

with zipfile.ZipFile(path, "r") as z:
    print("Files inside the zip:")
    print(z.namelist())

Files inside the zip:
['[Content_Types].xml', '[trash]/0001.dat', 'docProps/app.xml', '[trash]/0002.dat', '[trash]/0000.dat', 'xl/printerSettings/printerSettings1.bin', 'xl/printerSettings/printerSettings10.bin', 'xl/printerSettings/printerSettings11.bin', 'xl/printerSettings/printerSettings12.bin', 'xl/printerSettings/printerSettings13.bin', 'xl/printerSettings/printerSettings14.bin', 'xl/printerSettings/printerSettings2.bin', 'xl/printerSettings/printerSettings3.bin', 'xl/printerSettings/printerSettings4.bin', 'xl/printerSettings/printerSettings5.bin', 'xl/printerSettings/printerSettings6.bin', 'xl/printerSettings/printerSettings7.bin', 'xl/printerSettings/printerSettings8.bin', 'xl/printerSettings/printerSettings9.bin', 'xl/sharedStrings.xml', 'xl/styles.xml', 'xl/theme/theme1.xml', 'xl/workbook.xml', 'xl/worksheets/_rels/sheet1.xml.rels', 'xl/worksheets/_rels/sheet10.xml.rels', 'xl/worksheets/_rels/sheet11.xml.rels', 'xl/worksheets/_rels/sheet12.xml.rels', 'xl/worksheets/_rels/sheet13.xml.rels', 'xl/worksheets/_rels/sheet14.xml.rels', 'xl/worksheets/_rels/sheet2.xml.rels', 'xl/worksheets/_rels/sheet3.xml.rels', 'xl/worksheets/_rels/sheet4.xml.rels', 'xl/worksheets/_rels/sheet5.xml.rels', 'xl/worksheets/_rels/sheet6.xml.rels', 'xl/worksheets/_rels/sheet7.xml.rels', 'xl/worksheets/_rels/sheet8.xml.rels', 'xl/worksheets/_rels/sheet9.xml.rels', 'xl/worksheets/sheet1.xml', 'xl/worksheets/sheet10.xml', 'xl/worksheets/sheet11.xml', 'xl/worksheets/sheet12.xml', 'xl/worksheets/sheet13.xml', 'xl/worksheets/sheet14.xml', 'xl/worksheets/sheet2.xml', 'xl/worksheets/sheet3.xml', 'xl/worksheets/sheet4.xml', 'xl/worksheets/sheet5.xml', 'xl/worksheets/sheet6.xml', 'xl/worksheets/sheet7.xml', 'xl/worksheets/sheet8.xml', 'xl/worksheets/sheet9.xml', 'customXml/item1.xml', 'customXml/itemProps1.xml', 'customXml/item2.xml', 'customXml/itemProps2.xml', 'customXml/_rels/item1.xml.rels', 'customXml/_rels/item2.xml.rels', 'xl/_rels/workbook.xml.rels', 'customXml/item3.xml', 'customXml/itemProps3.xml', 'docProps/custom.xml', 'customXml/_rels/item3.xml.rels', '_rels/.rels', 'docProps/core.xml']

In [8]:
import zipfile
import pandas as pd

path = "../data/nhs_waiting_times.csv"

with zipfile.ZipFile(path, "r") as z:
    # find the first CSV inside
    csv_name = [n for n in z.namelist() if n.lower().endswith(".csv")][0]
    print("Loading:", csv_name)
    with z.open(csv_name) as f:
        df = pd.read_csv(f, encoding="latin1")

df.head()

IndexError: list index out of range

In [9]:
import pandas as pd

path = "../data/nhs_waiting_times.csv"  # misnamed, but it's actually an Excel file

# Read the first sheet of the Excel workbook
df = pd.read_excel(path)

# Show the first 5 rows
df.head()

     Title:            Community Health Services Waiting Times
0  Summary:  This publication uses Community Health Service...
1       NaN                                       information.
2   Period:                      01 April 2025 - 31 March 2026
3   Source:             Community Health Services (CHS) SitRep
4    Basis:                                           Provider

In [10]:
import pandas as pd
df = pd.read_excel("../data/nhs_waiting_times.xlsx")
df.head()

     Title:            Community Health Services Waiting Times
0  Summary:  This publication uses Community Health Service...
1       NaN                                       information.
2   Period:                      01 April 2025 - 31 March 2026
3   Source:             Community Health Services (CHS) SitRep
4    Basis:                                           Provider

In [11]:
df.shape

(9, 2)

In [12]:
df

       Title:            Community Health Services Waiting Times
0    Summary:  This publication uses Community Health Service...
1         NaN                                       information.
2     Period:                      01 April 2025 - 31 March 2026
3     Source:             Community Health Services (CHS) SitRep
4      Basis:                                           Provider
5  Published:                                         11/12/2025
6    Revised:                                                  -
7     Status:                                          Published
8    Contact:        england.communityhealthservicesdata@nhs.net

In [13]:
import pandas as pd

path = "../data/nhs_waiting_times.xlsx"  # or .csv if you haven't renamed it

xls = pd.ExcelFile(path)
xls.sheet_names

['Cover page',
 'Contents',
 'Table 1',
 'Table 2',
 'Table 3',
 'Table 4',
 'Table 4a',
 'Table 4b',
 'Table 4c',
 'Table 4d',
 'Table 4e',
 'Table 4f',
 'Table 4g',
 'Table 4h']

In [14]:
import pandas as pd

path = "../data/nhs_waiting_times.xlsx"  # or .csv if you haven't renamed it

df = pd.read_excel(path, sheet_name="Table 1")

df.head()

,"Number of organisations of 141 in scope that did not submit data at national, regional and ICB level",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Organisation Type,Organisation Name,Apr-25,May-25,Jun-25,Jul-25,Aug-25,Sep-25,Oct-25,Nov-25,Dec-25,Jan-26,Feb-26,Mar-26
2,NaN,England,4,5,2,1,4,2,2,NaN,NaN,NaN,NaN,NaN
3,Region,East Of England,0,1,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN
4,Region,London,1,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [15]:
df.shape

(50, 14)

In [16]:
df.columns

Index(['Number of organisations of 141 in scope that did not submit data at national, regional and ICB level',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [17]:
df

,"Number of organisations of 141 in scope that did not submit data at national, regional and ICB level",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Organisation Type,Organisation Name,Apr-25,May-25,Jun-25,Jul-25,Aug-25,Sep-25,Oct-25,Nov-25,Dec-25,Jan-26,Feb-26,Mar-26
2,NaN,England,4,5,2,1,4,2,2,NaN,NaN,NaN,NaN,NaN
3,Region,East Of England,0,1,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN
4,Region,London,1,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
5,Region,Midlands,1,1,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN
6,Region,North East And Yorkshire,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN
7,Region,North West,1,2,1,1,1,2,2,NaN,NaN,NaN,NaN,NaN
8,Region,South East,1,1,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN
9,Region,South West,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
10,ICB,Birmingham and Solihull,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
11,ICB,Black Country,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
12,ICB,"Bristol, North Somerset and South Gloucestershire",0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
13,ICB,"Buckinghamshire, Oxfordshire and Berkshire West",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
14,ICB,Cambridgeshire and Peterborough,0,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
15,ICB,Cheshire and Merseyside,1,2,1,1,1,2,2,NaN,NaN,NaN,NaN,NaN
16,ICB,Cornwall and the Isles of Scilly,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
17,ICB,Coventry and Warwickshire,1,1,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN
18,ICB,Derby and Derbyshire,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
19,ICB,Devon,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
20,ICB,Dorset,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
21,ICB,Frimley,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
22,ICB,Gloucestershire,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
23,ICB,Greater Manchester,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24,ICB,Hampshire and Isle Of Wight,0,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
25,ICB,Herefordshire and Worcestershire,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
26,ICB,Hertfordshire and West Essex,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
27,ICB,Humber and North Yorkshire,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN
28,ICB,Kent and Medway,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
29,ICB,Lancashire and South Cumbria,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
30,ICB,"Leicester, Leicestershire and Rutland",0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
31,ICB,Lincolnshire,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
32,ICB,Mid and South Essex,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
33,ICB,Norfolk and Waveney,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
34,ICB,North Central London,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
35,ICB,North East London,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
36,ICB,North East and North Cumbria,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
37,ICB,North West London,1,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
38,ICB,Northamptonshire,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
39,ICB,Nottingham and Nottinghamshire,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
40,ICB,"Shropshire, Telford and Wrekin",0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
41,ICB,Somerset,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
42,ICB,South East London,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
43,ICB,South West London,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
44,ICB,South Yorkshire,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
45,ICB,Staffordshire and Stoke-on-Trent,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
46,ICB,Suffolk and North East Essex,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN
47,ICB,Surrey Heartlands,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN
48,ICB,Sussex,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
49,ICB,West Yorkshire,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [18]:
import pandas as pd

path = "../data/nhs_waiting_times.xlsx"

df = pd.read_excel(
    path,
    sheet_name="Table 1",
    header=2  # this tells pandas: "row 2 contains the column names"
)

df.head()

,Organisation Type,Organisation Name,Apr-25,May-25,Jun-25,Jul-25,Aug-25,Sep-25,Oct-25,Nov-25,Dec-25,Jan-26,Feb-26,Mar-26
0,NaN,England,4,5,2,1,4,2,2,NaN,NaN,NaN,NaN,NaN
1,Region,East Of England,0,1,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN
2,Region,London,1,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
3,Region,Midlands,1,1,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN
4,Region,North East And Yorkshire,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN

In [19]:
# 1. Keep only regional rows
regions = df[df["Organisation Type"] == "Region"]

# 2. Select only the month columns (everything from Apr-25 onward)
month_columns = regions.columns[2:]

# 3. Add up missing submissions across all months for each region
regions["Total Missing Submissions"] = regions[month_columns].sum(axis=1)

# 4. Show regions ranked by total missing submissions
regions_sorted = regions[["Organisation Name", "Total Missing Submissions"]].sort_values(
    by="Total Missing Submissions",
    ascending=False
)

regions_sorted

C:\Users\Alex\AppData\Local\Temp\ipykernel_26360\1004974890.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regions["Total Missing Submissions"] = regions[month_columns].sum(axis=1)

          Organisation Name  Total Missing Submissions
5                North West                       10.0
3                  Midlands                        3.0
6                South East                        3.0
1           East Of England                        2.0
2                    London                        1.0
4  North East And Yorkshire                        1.0
7                South West                        0.0

In [20]:
# 1. Keep only regional rows (make a proper copy)
regions = df[df["Organisation Type"] == "Region"].copy()

# 2. Select only the month columns
month_columns = regions.columns[2:]

# 3. Add up missing submissions across all months
regions["Total Missing Submissions"] = regions[month_columns].sum(axis=1)

# 4. Rank regions by total missing submissions
regions_sorted = regions[["Organisation Name", "Total Missing Submissions"]].sort_values(
    by="Total Missing Submissions",
    ascending=False
)

regions_sorted

          Organisation Name  Total Missing Submissions
5                North West                       10.0
3                  Midlands                        3.0
6                South East                        3.0
1           East Of England                        2.0
2                    London                        1.0
4  North East And Yorkshire                        1.0
7                South West                        0.0